<div class="row" *ngIf="checkingAuthentication">
  <div class="col-lg-12 text-center">
    <span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>
    <h3>Checking authentication</h3>
  </div>
</div>
<form novalidate [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="row" *ngIf="!checkingAuthentication">
    <div class="form-group col-md-6 col-md-offset-3">
      <input class="form-control text-center" type="text" placeholder="Movie DB API_KEY" formControlName="key">
    </div>
    <div class="form-group col-md-2 col-md-offset-5 text-center">
      <button type="submit" class="btn btn-danger">OK</button>
    </div>
  </div>
</form>
