<div *ngIf="listSrv.lists$ | async as lists">
  <div class="col-xs-12 col-sm-7">
    <div class="row row-big-frame" (click)="accessList(lists[0].id)">
      <div class="col-xs-12 text-center">
        <span>{{lists[0].name}}</span>
      </div>
    </div>
    <div class="row row-medium-frame">
      <div class="col-xs-12 text-center">
        <span>{{lists[1].name}}</span>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-5">
    <div class="row row-small-frame">
      <div class="col-xs-12 text-center">
        <span>{{lists[2].name}}</span>
      </div>
    </div>
    <div class="row row-small-frame">
      <div class="col-xs-12 text-center">
        <span>{{lists[3].name}}</span>
      </div>
    </div>
    <div class="row row-small-frame">
      <div class="col-xs-12 text-center">
        <span>{{lists[4].name}}</span>
      </div>
    </div>
  </div>
</div>
