.item-checkbox {
  height: 15px;
  width: 15px;
}

.clickable {
  cursor: pointer;
}

.list-group-item .row div.col-xs-1 {
  text-align: center;
}

.list-group-item button {
  font-size: 10px;
  padding: 2px 6px
}

.list-group-item .title {
  font-weight: bold;
}

.list-group-item .badge {
  margin-top: 5px;
}
