<nav class="navbar navbar-inverse">
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li>
        <a routerLink="/movies" routerLinkActive="active">Movies</a>
      </li>
      <li>
        <a routerLink="/movies/search" routerLinkActive="active">Search</a>
      </li>
      <li>
        <a routerLink="/movies/lists" routerLinkActive="active">Lists</a>
      </li>
      <li>
        <a routerLink="/shows" routerLinkActive="active">Shows</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
