<div class="row frame" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
  <div class="col-xs-2">
    <img src="https://image.tmdb.org/t/p/w92{{movie?.poster_path}}" alt="">
  </div>
  <div class="col-xs-10">
    <p>{{movie.title}}</p>
    <p>{{movie.overview.substring(0, 399)}}<span *ngIf="(movie.overview.length > 399)">...</span></p>
    <div class="options" *ngIf="mouseIsOver">
      <span class="glyphicon glyphicon-ok" (click)="addMovie(movie.id)" aria-hidden="true"></span>
    </div>
  </div>
</div>
